<objects xmlns="http://www.springframework.net">
    
    <object id="douthManager" type="Douth.Core.DouthManager, Douth.Core">
    </object>
    <object id="throwingLogger"
            type="Coldew.Core.ThrowingLogger, Coldew.Core">
        <constructor-arg ref="douthManager" />
    </object>

    <!--MetadataService-->
    <object id="MetadataService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.MetadataService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="MetadataService">
        </property>
        <property name="ServiceName" value="MetadataService" />
    </object>
    <!--end-->


    <!--ColdewConfigService-->
    <object id="ColdewConfigService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.ColdewConfigService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="ColdewConfigService">
        </property>
        <property name="ServiceName" value="ColdewConfigService" />
    </object>
    <!--end-->    

    <!--ColdewObjectService-->
    <object id="ColdewObjectService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.ColdewObjectService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="ColdewObjectService">
        </property>
        <property name="ServiceName" value="ColdewObjectService" />
    </object>
    <!--end-->

    <!--FormService-->
    <object id="FormService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.UI.FormService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="FormService">
        </property>
        <property name="ServiceName" value="FormService" />
    </object>
    <!--end-->
    
    <!--GridViewService-->
    <object id="GridViewService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.GridViewService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="GridViewService">
        </property>
        <property name="ServiceName" value="GridViewService" />
    </object>
    <!--end-->

    <!--UserService-->
    <object id="UserService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.Organization.UserService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="UserService">
        </property>
        <property name="ServiceName" value="UserService" />
    </object>
    <!--end-->

    <!--PositionService-->
    <object id="PositionService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.Organization.PositionService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="PositionService">
        </property>
        <property name="ServiceName" value="PositionService" />
    </object>
    <!--end-->

    <!--AuthenticationService-->
    <object id="AuthenticationService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.Organization.AuthenticationService, Coldew.Core" >
                <constructor-arg ref="douthManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="AuthenticationService">
        </property>
        <property name="ServiceName" value="AuthenticationService" />
    </object>
    <!--end-->


    <object id="organizationInitializer" type="Coldew.Core.Organization.OrganizationInitializer, Coldew.Core">
        <constructor-arg ref="douthManager" />
    </object>
    <object id="DouthInitializer" type="Douth.Core.DouthInitializer, Douth.Core">
        <constructor-arg ref="douthManager" />
    </object>

</objects>