*.cache
*.il
[Bb]in/
[Oo]bj/
*.user
*.ncb
*.sdf
*.opensdf
*.suo
*.log
ipch/
*.scc
*.vssscc
.svn/
*~
_ReSharper*/
deploy
deploy/*
Temp/
[Tt]est[Rr]esult.xml
IntegrationTests.VisualState.xml

UpgradeLog.XML
*_UpgradeReport_Files/

Thumbs.db

*.ReSharper.user
*.cmd

*.[Rr][Aa][Rr]
*.[Mm][Ss][Ii]
*/*.[Rr][Aa][Rr]
*/*.[Mm][Ss][Ii]
build/
logs/