<div class="popover bottom" style="width:730px;">
    <div class="arrow">
    </div>
    <h3 class="popover-title">查询客户</h3>
    <div class="popover-content">
        <form class="form-horizontal">
            @{this.Html.RenderPartial("SearchFields");}
            <div class="control-group">
                <div style="margin-left: 120px;" class="controls">
                    <button type="submit" class="btn btn-primary">确定</button>
                    <button type="button btnCancel" class="btn">取消</button>
                    <button type="reset" class="btn">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>