<div class="modal hide" style="width: 450px;" tabindex="-1" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="header-name">客户选择</h3>
    </div>
    <div class="modal-body"> 
        <form class="form-search">
            <div class="input-append">
                <input name="keyword" type="text" class="search-query txtKeyword"/>
                <button class="btn btnKeywordSearch" type="submit" data-loading-text="搜索中..."><i class="icon-search"></i>搜索</button>
            </div>
        </form>
        <div class="metadataGrid">
                
        </div>
        
        <div class="metadataPager pull-right" style="height: 30px">
            
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btnSelect" disabled="disabled" type="button">确定</button>
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true" >关闭</button>
    </div>
</div>