@using Coldew.Api.UI;
@using Coldew.Api;
@using Coldew.Website;
@{
    FormInfo formInfo = this.ViewBag.formInfo;
    ColdewInput crmInput = WebHelper.ColdewInputFactory.CreateInput(true);
}
@foreach (SectionInfo sectionInfo in formInfo.Sections)
{
<fieldset>
    <legend>@sectionInfo.Title</legend>
    @for (int count = 0; count < sectionInfo.Inputs.Count; ++count)
    {
        if (count % sectionInfo.ColumnCount == 0)
        {
            @this.Html.Raw("<div class='row-fluid'>");
        }
        FieldInfo field = sectionInfo.Inputs[count].Field;
        <div class="span6">
        @crmInput.Input(field)
        </div>
        if (count % sectionInfo.ColumnCount == 1 ||
            count == sectionInfo.Inputs.Count - 1)
        {
            @this.Html.Raw("</div>");
        }
    }
</fieldset>
}

