@using Coldew.Api.UI;
@using Coldew.Api;
@using Coldew.Website;
@{
    FormInfo formInfo = this.ViewBag.formInfo;
    MetadataInfo metadataInfo = this.ViewBag.metadataInfo;
    Dictionary<string, PropertyInfo> metadataPropertys = metadataInfo.Propertys.ToDictionary(x => x.Code);
    ColdewDetailsInput crmInput = WebHelper.ColdewInputFactory.CreateDetailsInput();
}
@foreach (SectionInfo sectionInfo in formInfo.Sections)
{
<fieldset>
    <legend>@sectionInfo.Title</legend>
    
    @for (int count = 0; count < sectionInfo.Inputs.Count; ++count)
    {
        FieldInfo field = sectionInfo.Inputs[count].Field;
        if (count % sectionInfo.ColumnCount == 0)
        {
            @this.Html.Raw("<div class='row-fluid'>");
        }
    <div class="span6">
    @crmInput.Input(field, metadataPropertys)
    </div>
        if (count % sectionInfo.ColumnCount == 1 ||
            count == sectionInfo.Inputs.Count - 1)
        {
            @this.Html.Raw("</div>");
        }
    }
</fieldset>
}

