@{
    ViewBag.Title = "视图管理";
    Layout = "~/Views/Metadata/Layout.cshtml";
    this.ViewBag.LeftMenu = "ViewManage";
}

<div class="row-fluid">
    <div class="span2">
        <p class="lead">视图管理</p>
    </div>
    <div class="span10">
        <a id="btnCreate" href="@this.Url.Action("CreateGridView", new { objectId = Request["objectId"]})" class="btn"><i class="icon-plus"></i>创建</a>
        <button id="btnDelete" disabled="disabled" data-loading-text="删除中..." class="btn"><i class="icon-trash"></i>删除</button> 
    </div>
</div>

<div id="viewGrid">
    
</div>

<script type="text/javascript" language="javascript">
    var objectId = "@this.Html.Raw(this.Request["objectId"])";
    var viewGrid = $("#viewGrid").datagrid({
		columns: [
            {title: "名称", width: 180, field:"editLink"},
			{title: "是否共享", width: 60, field:"isShared"}
        ],
        height: "auto",
		canSort: false,
		singleSelect: false,
		showNumberRow: true,
        selectedRow: function(){
            $("#btnDelete").prop("disabled", false);
        },
        unselectedRow: function(){
            var rows = viewGrid.datagrid("getSelectedRows");
            $("#btnDelete").prop("disabled", rows.length == 0);
        }
	});

    function loadViewGrid(){
        $.get("@this.Url.Action("GetGridViews")", {objectId: objectId}, function(model){
            if(model.result == 0){
                viewGrid.datagrid("option", "data", model.data);
            }
            else{
                alert(model.message)
            }
        });
    }

    $("#btnDelete").click(function(){
        if(!confirm("确实要删除吗?"))
        {
            return false;
        }
        var rows = viewGrid.datagrid("getSelectedRows");
        var viewIds = $.map(rows, function(row){
            return row.datarow("option", "data").id;
        })
        $("#btnDelete").button("loading");
        $.post("@this.Url.Action("DeleteGridView")", {viewIdsJson: $.toJSON(viewIds)}, function(model){
            $("#btnDelete").button("reset");
            if(model.result == 0){
                loadViewGrid();
            }
            else{
                alert(model.message)
            }
        });
        return false;
    });

    loadViewGrid();
</script>