<div class="popover bottom" style="width:80%; max-width: none; z-index: 3 ">
    <div class="arrow">
    </div>
    <h3 class="popover-title">查询</h3>
    <div class="popover-content" >
        <form class="form-horizontal">
            <div style="height: 300px;overflow:auto;" class="searchForm container-fluid">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">确定</button>
        <button type="button" class="btn btn-default btnCancel">取消</button>
        <button type="reset" class="btn btn-default">重置</button>
    </div>
</div>