<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <spring>
        <context>
            <resource uri="config://spring/objects" />
        </context>
        <objects xmlns="http://www.springframework.net">

            <!--
            <object id="DepartmentService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Macrowing.Organization.IDepartmentService, Macrowing.Organization.Api" />
                <property name="ServiceUrl" value="tcp://kb.edoc2.com:6301/DepartmentService" />
            </object>
            <object id="Zuzhi" type="Macrowing.Gongzuoliu.WebApi.EDoc2Zuzhi, Macrowing.Gongzuoliu.WebApi">
                <property name="UserService" ref="UserService" />
                <property name="DepartmentService" ref="DepartmentService" />
            </object>-->
            <object id="ColdewInputFactory" type="Coldew.Website.ColdewInputFactory, Coldew.Website">
            </object>
            <object id="MetadataService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.IMetadataService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/MetadataService" />
            </object>
            <object id="ColdewConfigService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.IColdewConfigService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/ColdewConfigService" />
            </object>
            <object id="ColdewObjectService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.IColdewObjectService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/ColdewObjectService" />
            </object>
            <object id="FormService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.UI.IFormService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/FormService" />
            </object>
            <object id="GridViewService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.IGridViewService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/GridViewService" />
            </object>
            <object id="UserService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.Organization.IUserService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/UserService" />
            </object>
            <object id="PositionService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.Organization.IPositionService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/PositionService" />
            </object>
            <object id="AuthenticationService" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.Organization.IAuthenticationService, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://127.0.0.1:6301/AuthenticationService" />
            </object>
            <object id="RenwuFuwu" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.Workflow.IRenwuFuwu, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://localhost:6301/RenwuFuwu" />
            </object>
            <object id="LiuchengFuwu" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.Workflow.ILiuchengFuwu, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://localhost:6301/LiuchengFuwu" />
            </object>
            <object id="YinqingFuwu" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
                <property name="ServiceInterface" value="Coldew.Api.Workflow.IYinqingFuwu, Coldew.Api" />
                <property name="ServiceUrl" value="tcp://localhost:6301/YinqingFuwu" />
            </object>
        </objects>
    </spring>
    <log4net>
        <appender name="loggerAppender" type="log4net.Appender.RollingFileAppender">
            <file value="logs/" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <maximumFileSize value="1024KB" />
            <datePattern value="yyyy-MM-dd\.\t\x\t" />
            <staticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %newline %message%newline" />
            </layout>
        </appender>
        <logger name="logger">
            <level value="INFO"></level>
            <appender-ref ref="loggerAppender"></appender-ref>
        </logger>
    </log4net>
    <appSettings>
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="Default" />
            </files>
        </defaultDocument>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
