
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4" style="overflow: auto;  height: 300px">
            <div class="bumenTree">
                    
            </div>
        </div>
        <div class="span8">
            <form class="sousuoForm form-inline" >
                <input type="text" name="zhanghaoHuoXingming"  class="input-medium" placeholder="帐号或者姓名" />
                <label class="checkbox">
                    <input name="baohanXiajiBumen" type="checkbox" value="true" checked="checked" />包含子部门
                </label>
                <button type="submit" class="btn">搜索</button>
            </form>
            <div class="yonghuGrid"></div>
            <div class="yonghuGridPager pull-right"></div>
        </div>
    </div>
</div>