<objects xmlns="http://www.springframework.net">
    
    <object id="littleOrangeManager" type="LittleOrange.Core.LittleOrangeManager, LittleOrange.Core">
    </object>
    <object id="throwingLogger"
            type="Coldew.Core.ThrowingLogger, Coldew.Core">
        <constructor-arg ref="littleOrangeManager" />
    </object>

    <!--WebsiteMetadataService-->
    <object id="WebsiteMetadataService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Website.Api.MetadataService, Coldew.Website.Api" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="WebsiteMetadataService">
        </property>
        <property name="ServiceName" value="WebsiteMetadataService" />
    </object>
    <!--end-->


    <!--ColdewConfigService-->
    <object id="ColdewConfigService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.ColdewConfigService, Coldew.Core" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="ColdewConfigService">
        </property>
        <property name="ServiceName" value="ColdewConfigService" />
    </object>
    <!--end-->

    <!--WebsiteColdewObjectService-->
    <object id="WebsiteColdewObjectService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Website.Api.ColdewObjectService, Coldew.Website.Api" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="WebsiteColdewObjectService">
        </property>
        <property name="ServiceName" value="WebsiteColdewObjectService" />
    </object>
    <!--end-->

    <!--UserService-->
    <object id="UserService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.Organization.UserService, Coldew.Core" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="UserService">
        </property>
        <property name="ServiceName" value="UserService" />
    </object>
    <!--end-->

    <!--PositionService-->
    <object id="PositionService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.Organization.PositionService, Coldew.Core" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="PositionService">
        </property>
        <property name="ServiceName" value="PositionService" />
    </object>
    <!--end-->

    <!--AuthenticationService-->
    <object id="AuthenticationService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Core.Organization.AuthenticationService, Coldew.Core" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="AuthenticationService">
        </property>
        <property name="ServiceName" value="AuthenticationService" />
    </object>
    <!--end-->

    <!--RenwuFuwu-->
    <object id="RenwuFuwu" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Website.Api.Workflow.RenwuFuwu, Coldew.Website.Api" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="RenwuFuwu">
        </property>
        <property name="ServiceName" value="RenwuFuwu" />
    </object>
    <!--end-->
    <!--LiuchengFuwu-->
    <object id="LiuchengFuwu" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Website.Api.Workflow.LiuchengFuwu, Coldew.Website.Api" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="LiuchengFuwu">
        </property>
        <property name="ServiceName" value="LiuchengFuwu" />
    </object>
    <!--end-->
    <!--YinqingFuwu-->
    <object id="YinqingFuwu" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Website.Api.Workflow.YinqingFuwu, Coldew.Website.Api" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="YinqingFuwu">
        </property>
        <property name="ServiceName" value="YinqingFuwu" />
    </object>

    <!--WebsiteFormService-->
    <object id="WebsiteFormService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Coldew.Website.Api.FormService, Coldew.Website.Api" >
                <constructor-arg ref="littleOrangeManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="WebsiteFormService">
        </property>
        <property name="ServiceName" value="WebsiteFormService" />
    </object>
    <!--end-->

    <!--
-->
    <object id="organizationDataManager" type="Coldew.Core.DataManager.OrganizationDataManager, Coldew.Core">
        <constructor-arg ref="littleOrangeManager" />
    </object>
    <object id="coldewDataManager" type="Coldew.Core.DataManager.ColdewDataManager, Coldew.Core">
        <constructor-arg ref="littleOrangeManager" />
    </object>
    <object id="organizationInitializer" type="Coldew.Core.Organization.OrganizationInitializer, Coldew.Core">
        <constructor-arg ref="littleOrangeManager" />
    </object>
    <object id="littleOrangeInitializer" type="LittleOrange.Core.LittleOrangeInitializer, LittleOrange.Core">
        <constructor-arg ref="littleOrangeManager" />
    </object>
</objects>