@using Coldew.Website;
@using Coldew.Website.Models;
@{
    ViewBag.Title = "客户区域配置";
    Layout = "~/Views/Setup/Layout.cshtml";
    this.ViewBag.LeftMenu = "CustomerArea";
}

<div class="row-fluid">
    <div class="span2">
        <p class="lead">客户区域配置</p>
    </div>
    <div class="span10">
        <div class="btn-toolbar">
            <a href="@this.Url.Action("CreateCustomerArea")" class="btn"><i class="icon-plus"></i>创建</a>
            <button id="btnDelete" class="btn" ><i class="icon-trash"></i>删除</button>
        </div>
    </div>
</div>

<div id="areaGrid"></div>
<script type="text/javascript" language="javascript">
    var areaGrid = $("#areaGrid").datagrid({
		columns:[
			{title: "区域名称", width: 180, field:"name"},
			{title: "区域负责人", width: 180, field:"managers"}
		],
		canSort: false,
		singleSelect: false,
		showNumberRow: true,
        selectedRow: function(){
            $("#btnDelete").prop("disabled", false);
        },
        unselectedRow: function(){
            var rows = areaGrid.datagrid("getSelectedRows");
            $("#btnDelete").prop("disabled", rows.length == 0);
        }
	});
    $("#btnDelete").click(function(){
        if(!confirm("确实要删除吗?"))
        {
            return false;
        }
        var rows = areaGrid.datagrid("getSelectedRows");
        var areaIds = $.map(rows, function(row){
            return row.datarow("option", "data").id;
        })
        $("#btnDelete").button("loading");
        $.post("@this.Url.Action("DeleteCustomerAreas")", {areaIdsJson: $.toJSON(areaIds)}, function(model){
            $("#btnDelete").button("reset");
            if(model.result == 0){
                loadAreaGrid();
            }
            else{
                alert(model.message)
            }
        });
        return false;
    });
    function loadAreaGrid(){
        $.get("@this.Url.Action("CustomerAreas")", null, function(model){
            if(model.result == 0){
                $("#btnDelete").prop("disabled", true);
                $("#areaGrid").datagrid("option", "data", model.data);
            }
            else{
                alert(model.message)
            }
        });
    }
    loadAreaGrid();
</script>