<div class="chanpinAutoFillPanel">

<div class="form-group">
    <label class="col-md-4 control-label" >产品名称<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control metadataAutoComplete' data-required="true" data-object-code="chanpin" name='name' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >规格<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' data-required="true" name='guige' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >剂型</label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='jixing' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >生产企业<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' data-required="true" name='shengchanQiye' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >单位<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' data-required="true" name='danwei' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >总数量<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='zongshuliang' data-required="true" data-pattern="^\d+(\.\d+)?$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >出库单价<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='chukuDanjia' data-required="true" data-pattern="^\d+(\.\d+)?$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >总金额<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='zongjine' data-required="true" data-pattern="^\d+(\.\d+)?$" />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >件数<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='jianshu' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
</div>