<div class="chanpinAutoFillPanel">

<div class="form-group">
    <label class="col-md-4 control-label" >产品名称<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control metadataAutoComplete' data-required="true" data-object-code="chanpin" name='name' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >规格<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' data-required="true" name='guige' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >单位</label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='danwei' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >数量<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' data-required="true" name='shuliang' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >桶数<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' data-required="true" name='tongshu' />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >销售底价<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='xiaoshouDijia' data-required="true" data-pattern="^\d+(\.\d+)?$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >实际单价<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='shijiDanjia' data-required="true" data-pattern="^\d+(\.\d+)?$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >销售单价<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='xiaoshouDanjia' data-required="true" data-pattern="^\d+(\.\d+)?$" />
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >金额<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='zongjine' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >业务率<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='yewulv' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >业务费<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='yewufei' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >收款金额<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='shoukuanJine' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >运费<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='yunfei' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >提成<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='ticheng' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >是否开票<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='shifouKaipiao' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" >补贴<span style="color: Red">*</span></label>
    <div class="col-md-8">
        <input type='text' class='form-control' name='butie' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
</div>