<div class="chanpinAutoFillPanel">

<div class="control-group">
    <label class="control-label" >产品名称<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large metadataAutoComplete' data-required="true" data-object-code="chanpin" name='name' />
    </div>
</div>
<div class="control-group">
    <label class="control-label" >规格<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large' data-required="true" name='guige' />
    </div>
</div>
<div class="control-group">
    <label class="control-label" >剂型</label>
    <div class="controls">
        <input type='text' class='input-large' name='jixing' />
    </div>
</div>
<div class="control-group">
    <label class="control-label" >生产企业<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large' data-required="true" name='shengchanQiye' />
    </div>
</div>
<div class="control-group">
    <label class="control-label" >单位<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large' data-required="true" name='danwei' />
    </div>
</div>
<div class="control-group">
    <label class="control-label" >总数量<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large' name='zongshuliang' data-required="true" data-pattern="^\d+(\.\d+)?$"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" >出库单价<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large' name='chukuDanjia' data-required="true" data-pattern="^\d+(\.\d+)?$"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" >总金额<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large' name='zongjine' data-required="true" data-pattern="^\d+(\.\d+)?$" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" >件数<font style="color: Red">*</font></label>
    <div class="controls">
        <input type='text' class='input-large' name='jianshu' data-required="true" data-pattern="^[0-9]*[1-9][0-9]*$"/>
    </div>
</div>
</div>