@using Coldew.Website;
@using Coldew.Website.Models;
<div class="popover bottom renwuSousuoPopover" style="width:400px;max-width:400px;">
    <div class="arrow">
    </div>
    <h3 class="popover-title">查询流程</h3>
    <div class="popover-content" style="width:400px;">
        <form class="form-horizontal">
            <div class="form-group">
                <label style="width: 80px" class="col-md-4 control-label">流程</label>
                <div style="margin-left: 120px;" class="col-md-8">
                    <select name="liuchengMobanId">
                        <option></option>
                        @foreach (LiuchengMobanModel mobanModel in WebHelper.SuoyouLiuchengMobanModelList)
                        {
                            <option value="@mobanModel.guid">@mobanModel.mingcheng</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label style="width: 80px" class="col-md-4 control-label">发起时间</label>
                <div style="margin-left: 120px;" class="col-md-8">
                    <input type="text" name="faqiKaishiShijian" class='date input-small'/>到
                    <input type="text" name="faqiJieshuShijian" class='date input-small'/>
                </div>
            </div>
            <div class="form-group">
                <label style="width: 80px" class="col-md-4 control-label">结束时间</label>
                <div style="margin-left: 120px;" class="col-md-8">
                    <input type="text" name="jieshuKaishiShijian" class='date input-small'/>到
                    <input type="text" name="jieshuJieshuShijian" class='date input-small'/>
                </div>
            </div>
            <div class="form-group">
                <label style="width: 80px" class="col-md-4 control-label">摘要</label>
                <div style="margin-left: 120px;" class="col-md-8">
                    <input type="text" name="zhaiyao" />
                </div>
            </div>
            <div class="form-group">
                <div style="margin-left: 120px;" class="col-md-8">
                    <button type="submit" class="btn btn-primary">确定</button>
                    <button type="button btnQuxiao" class="btn btn-default" >取消</button>
                    <button type="reset" class="btn btn-default" >重置</button>
                </div>
            </div>
        </form>
    </div>
</div>