@using Coldew.Website;
@using Coldew.Website.Models;
<div class="popover bottom renwuSousuoPopover" style="width:400px;max-width:400px;">
    <div class="arrow">
    </div>
    <h3 class="popover-title">查询任务</h3>
    <div class="popover-content" style="width:400px;">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">流程</label>
                <div class="col-md-9">
                    <select name="liuchengMobanId" class="form-control">
                        <option></option>
                        @foreach (LiuchengMobanModel mobanModel in WebHelper.LiuchengMobanModelList)
                        {
                            <option value="@mobanModel.id">@mobanModel.mingcheng</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">开始时间</label>
                <div class="col-md-9">
                    <div class='input-group'>
                        <input type='text' name='kaishiShijian' class='date form-control'/> 
                        <span class='input-group-addon'>到</span>
                        <input type='text' name='jieshuShijian' class='date form-control'/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">摘要</label>
                <div class="col-md-9">
                    <input type="text" name="zhaiyao" class='form-control'/>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-left: 120px;" class="col-md-8">
                    <button type="submit" class="btn btn-primary">确定</button>
                    <button type="button btnQuxiao" class="btn btn-default" >取消</button>
                    <button type="reset" class="btn btn-default" >重置</button>
                </div>
            </div>
        </form>
    </div>
</div>