@using Coldew.Website;
@using Coldew.Website.Models;
@{
    
    ViewBag.Title = "我的指派";
    Layout = "~/Views/Workflow/Layout.cshtml";
    this.ViewBag.LiuchengCaidan = LiuchengCaidan.Zhipaide;
}
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
        @{this.Html.RenderPartial("LiuchengCaidan");}
    </div>
    <div id="daibanDiv" class="span10">
        <div class="row-fluid">
            <div class="span2">
                <p class="lead">我的指派</p>
            </div>
            <div class="span10">
                <button disabled="disabled" class="btn btnQuxiaoZhipai"><i class="icon-remove"></i>取消指派</button>
            </div>
        </div>

        <div id="renwuGrid">
                
        </div>
        
        <div id="pager" class="pull-right" style="height: 30px">
            
        </div>
        
    </div>
    </div>
</div>
<div style="display: none;" class="liuchengtuDialog" title="流程图">
    <img/>
</div>

<script language="javascript" type="text/javascript">
    $(".chengyuanDialog").chengyuanDialog();
    var btnQuxiaoZhipai  = $(".btnQuxiaoZhipai").click(function(){
        var selectedRows = $("#renwuGrid").datagrid("getSelectedRows");
        var renwuId = $.map(selectedRows, function(datarow){
            var rowdata = datarow.datarow("option", "data");
            return rowdata.guid;
        })
        var zhipaiArgs = {renwuId: renwuId};
        $.post("@this.Url.Action("QuxiaoZhipai")", {argsJson: $.toJSON(zhipaiArgs)}, function(resultModel){
            if(resultModel.result == 0){
                jiazaiRenwu($("#pager").pager("option", "pageInfo").start);
            }else{
                alert(resultModel.message);
            }
        });
        return false;
    })
    var liuchengtuDialog = $(".liuchengtuDialog").dialog({autoOpen: false, modal: true, width: 850, height: 500});

    var renwuGrid = $("#renwuGrid").datagrid({
		columns:[
			{title: "编号", width: 30, field:"liuchengId"},
			{title: "流程名", width: 150, field:"liuchengMingcheng", render: function(row, args){
                var span = $("<span></span>");
				span.append("<a target='_blank' href='" + args.data.url + "'>"+args.value+"</a>");
                var liuchengtu = $("<a href='#'><img src='/img/icon-liuchengtu.gif' title='流程图' /></a>")
                    .click(function(){
                        liuchengtuDialog.liuchengtuDialog("xianshi", args.data.liuchengtuUrl);
                        return false;
                    });
                span.append(liuchengtu);
                return span;
			}},
			{title: "步骤名", width: 150, field:"mingcheng"},
			{title: "发起人", field:"faqiren"},
			{title: "开始时间", width: 150, field:"kaishiShijian"},
			{title: "摘要", width: 200, field:"zhaiyao"}
		],
        height: "auto",
		canSort: false,
		singleSelect: false,
		showNumberRow: true,
        selectedRow: function(){
            btnQuxiaoZhipai.prop("disabled", false);
        },
        unselectedRow: function(){
            var rows = renwuGrid.datagrid("getSelectedRows");
            btnQuxiaoZhipai.prop("disabled", rows.length == 0);
        }
	});

    $("#pager").pager({change: function(event, args){
        jiazaiRenwu(args.start);
    }});

    function jiazaiRenwu(start){
        $.get("@this.Url.Action("ZhipaideRenwu")", {start: start, size: 20}, function(model){
            if(model.result == 0){
                $("#renwuGrid").datagrid("option", "data", model.data.list);
                $("#pager").pager("option", "pageInfo", {start: start, size: 20, count: model.data.count})
            }
            else{
                alert(model.message)
            }
        });
    }
    jiazaiRenwu(0);
</script>
